.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.sectionWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-header {
  background-color: white;
  color: rgba(255,124,23,0.8);
  height : 100px;
}
.App-filter {
  background-color: rgba(255,124,23,0.8);;
  color: white;
  max-width: 100vw;
}

.App-link {
  color: #09d3ac;
}
#filterMainKing{
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;

}
.cacahuete{
  margin : 10px;

}
.tulletWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.tullet{
    width: 100%;
    background-color: #f4f4f4;
    margin-top : 10px;
    border-radius: 10px;
    display: flex;
}
.tulletSection{
    font-size: calc(10px + 1vmin);
}
