.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
.App-list {
  width : 80%;
  margin: 0 auto;
}
.sectionWrapper>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.semaine-title{
  text-align: left;
  background-color: rgba(255,124,23,0.8);
  width: 100%;
  vertical-align: middle;
  padding-top : 10px;
  padding-bottom : 10px;
  color: white;
  margin-bottom: -5px;
}
.App-header {
  background-color: white;
  color: rgba(255,124,23,0.8);
  height : 100px;
}
.App-filter {
  background-color: rgba(255,124,23,0.8);
  color: white;
  max-width: 100vw;
  height: 200px;
  display: flex;
}
.App-link {
  color: #09d3ac;
}
#filterMainKing{
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
}
#filter-wrapper{
  width : 80%;
  margin : 0 auto;
  display: flex;
  flex-direction: row;
}
.cacahuete{
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
}
.autocomplete{
  margin : 5px;
}
.filter-title{
  font-size: 18px;
  width: 15%;
  margin-top: 55px;
  align-self: flex-start;
}
.cacahuete>*{
  color : #fff!important;
}
.MuiInputBase-input{
  width : auto!important;
  text-transform: capitalize!important;
}
.MuiFormLabel-root {
  text-transform: capitalize!important;
}
.cacahuete .MuiSvgIcon-root {
  fill :white!important;
}
fieldset{
  border : none!important;
}
.MuiExpansionPanelSummary-content>h4{
  color: white;
  background-color: rgba(255,124,23,0.8)    ;
  width: calc(100% - 60px);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  margin : 0 auto;
}
.tulletWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subsection{
  height: 35px;
  background-color:rgba(255,124,23,0.8);
  display: inline-block;
  border-radius: 20px;
  color: white;
  padding: 0 30px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.secteurs>.subsection{
  background-color: #424242!important;
}
.subsection>h3{
  font-size: 16px;
  margin-top: 8px;
}
.tullet{
    width: 100%;
    background-color: #f4f4f4;
    margin-top : 10px;
    border-radius: 10px;
    display: flex;
    min-height : 100px;
    justify-content: space-evenly;
    align-items: center;
}
.MuiCollapse-container{
    width: 100%;
    height : 100%;
    display : block!important;
}

.tulletSection{
    font-size: calc(10px + 1vmin);
}
.main-section-tullet{
  display: flex;
}

.tullet-header{
  flex : 0.1;
}
.tullet-content{
  display: flex;
  flex-direction: column;
  flex : 0.8
}
.tullet-content>.wrapper-header-subtullet{
  display: flex;
  flex : max-content;
  align-items: center;
}
.wrapper-collapse{
  display: flex;
  text-align: left;
  margin-top : 50px;
}
.tullet-actions{
  flex : 0.1;
}
.section{
  flex : 1;
}
.tulletWrapper>p{
  color : rgba(255,124,23,0.8);
  text-align: left;
}
.coach{
  text-align: left;
  font-size : 18px;
}
.experience{
  font-size: 18px;
  text-align:left;
}
.coach>h5{
  margin : 0px;
  text-transform: capitalize;
}
.prestations{
  margin : 10px 0px;
}
.prestations>li{
  font-size : 16px;
}
.prestations>h3{
  font-size : 18px;
}
.avatara{
  width : 80px!important;
  height : 80px!important;
  align-self: self-start!important;
  border : 3px solid rgba(255,124,23,0.8);
}
.tullet-header{
  align-self: self-start!important;
}
.expand{
  transform: rotate(0deg);
  margin-left: auto;
}
.expandOpen: {
  transform: rotate(180deg);
},
.accompagnement{
  font-size : 15px;
  text-align: left;
}
.accompagnement>p{
  margin : 0;
  font-size: 18px;
  text-align: left;
}
.formation>p{
  margin : 0;
  font-size: 18px;
  text-align: left;
}
.formation>.red{
  color : red
}
.formation>.green{
  color : green
}
.secteurs{
  margin : 10px 0px;
  text-align: left;
}
.secteurs>li{
  font-size : 16px;
}
.secteurs>h3{
  font-size : 18px;
}
.MuiPaper-elevation1{
    box-shadow: none!important
}
.buttonAppointment{
  font-size: 12px!important;
  color : white!important;
  font-weight: bold!important;
  background-color: rgba(255,124,23,0.8)!important;
}
